Estilos generales del carrousel */
.carousel-inner img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
  font-size: 0;
  width: 40px;
  height: 40px;
  top: auto;
  bottom: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}
.vertical-padding {
  padding-top: 0;
  padding-bottom: 25px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 2px;
}

.carousel-control-prev-icon:before {
  border-color: var(--primary-color);
  border-top-width: 0;
  border-right-width: 0;
  width: 8px;
  height: 8px;
}

.carousel-control-next-icon:before {
  border-color: var(--primary-color);
  border-bottom-width: 0;
  border-left-width: 0;
  width: 8px;
  height: 8px;
}


